@page "/"

@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.DesignTokens
@using TIWebsite.Pages
@using static TIWebsite.Utils.FileUtils
@using static TIWebsite.Utils.OSUtils

@inject IJSRuntime js
@using System.IO

<PageTitle>TIKeygen</PageTitle>

<script>
    window.downloadFileFromStream = async (fileName, contentStreamReference) => {
      const arrayBuffer = await contentStreamReference.arrayBuffer();
      const blob = new Blob([arrayBuffer]);
      const url = URL.createObjectURL(blob);
      const anchorElement = document.createElement('a');
      anchorElement.href = url;
      anchorElement.download = fileName ?? '';
      anchorElement.click();
      anchorElement.remove();
      URL.revokeObjectURL(url);
    }

    window.getUserAgent = () => {
        return navigator.userAgent;
    };
</script>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _userAgent = await GetUserAgent(js);
            StateHasChanged();
        }
    }
}

<FluentStack Orientation="Orientation.Vertical" VerticalGap="18">
    <FluentHeader>
        <h1>TIKeygen</h1>
    </FluentHeader>

    <BaseLayerLuminance Value="(float?)0.2">
        <FluentCard ParentReference="@context">
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="18">
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
                    @switch (GetPlatform(_userAgent))
                    {
                        case Platform.Mac:
                            <FluentLabel><strong>Note: </strong> Open the terminal app. Your username is to the left of the &#64;, and your computer name is to the right of the &#64;</FluentLabel>
                            break;
                        case Platform.Windows:
                            <FluentLabel><strong>Note: </strong></FluentLabel>
                            <FluentLabel>Open "System Information", then find the "Username" item (you may have to scroll). </FluentLabel>
                            <FluentLabel>Your computer name is to the left of the \, and your username is to the right of the \</FluentLabel>
                            <FluentSpacer/>
                            break;
                    }
                    <FluentTextField @bind-Value="_machineName" Label="Name of your computer" />
                    <FluentTextField @bind-Value="_userName" Label="Your username" />
                </FluentStack>

                <FluentButton @onclick="GenerateLicense">Generate</FluentButton>
            </FluentStack>
        </FluentCard>
    </BaseLayerLuminance>
    

    @if (!string.IsNullOrEmpty(_output))
    {
        <BaseLayerLuminance Value="(float?)0.15">
            <FluentCard ParentReference="@context">
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="18">
                    <FluentLabel Typo="Typography.H3">Generated License</FluentLabel>
                    @switch (GetPlatform(_userAgent))
                    {
                        case Platform.Linux:
                            <FluentLabel>Download and copy @_fileName to <strong>~/.wine/drive_c/users/@_userName/AppData/Roaming/Texas Instruments/TI-Nspire CX CAS Student Software/actdata</strong></FluentLabel>
                            <FluentLabel>Create the <strong>actdata</strong> folder if it doesn't exist.</FluentLabel>
                            break;
                        case Platform.Windows:
                            <FluentLabel>Download and copy @_fileName to <strong>"%APPDATA%\Texas Instruments\TI-Nspire CX CAS Student Software\actdata"</strong></FluentLabel>
                            <FluentLabel>If the <strong>actdata</strong> folder doesn't exist, go to <strong>"%APPDATA%\Texas Instruments\TI-Nspire CX CAS Student Software\"</strong> make a folder called <strong>actdata</strong>, then copy @_fileName into that folder</FluentLabel>
                            break;
                        case Platform.Mac:
                            <FluentLabel><strong>Note:</strong> Download <a href="https://tiplanet.org/forum/archives_voir.php?id=4585176">this</a> version of TI-Nspire CX CAS Student Software, as later versions don't work at all even with a real license</FluentLabel>
                            <FluentLabel>Download and copy @_fileName to <strong>~/Library/Preferences/Texas Instruments/TI-Nspire CX CAS Student Software/actdata</strong></FluentLabel>
                            <FluentLabel>Create the <strong>actdata</strong> folder if it doesn't exist.</FluentLabel>
                            break;
                        default:
                            break;
                    }
                    <FluentButton Appearance="Appearance.Accent" @onclick="async () => await DownloadFileFromStream(js, _fileName, _output)"><strong>Download @_fileName</strong></FluentButton>

                    <FluentTextArea Rows="8" Cols="80" ReadOnly Value="@_output"/>
                </FluentStack>
            </FluentCard>
        </BaseLayerLuminance>
    }
</FluentStack>
